.newsletter {
  //width: 960px;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter h2 {
  font-size: 24px
}


.group input, .group button {
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;

}
.group input {
  display: none;
}
.group button {
  
  display: inline-block;
  background-color: coral;
  color: white;
}

@media (min-width: 800px) {
  .newsletter {
    width: 960px;
  }
  .group input {
    display: inline-block;
  }
}